<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">My Properties</h1>
                </div>
            </div>
        </div>
    </section>

 <section class="sec-padding my-properties">
        <div class="auto-container">
            <div class="table-responsive">
            <table style="width:100%">
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="#"><img src="./assets/images/resource/properties01.jpg" alt="" width="75px" /></a></td>
                <td>SOLD</td>
                <td>Vacant</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>2</td>
                <td><a href="#"><img src="./assets/images/resource/properties02.jpg" alt="" width="75px" /></a></td>
                <td>SOLD</td>
                <td>Rented</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>3</td>
                <td><a href="#"><img src="./assets/images/resource/properties03.jpg" alt="" width="75px" /></a></td>
                <td>SOLD</td>
                <td>Vacant</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
              <tr>
                <td>4</td>
                <td><a href="#"><img src="./assets/images/resource/properties01.jpg" alt="" width="75px" /></a></td>
                <td>Notice of Default</td>
                <td>Lived</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>5</td>
                <td><a href="#"><img src="./assets/images/resource/properties02.jpg" alt="" width="75px" /></a></td>
                <td>Sold at auction</td>
                <td>Vacant</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>6</td>
                <td><a href="#"><img src="./assets/images/resource/properties03.jpg" alt="" width="75px" /></a></td>
                <td>Notice of Default</td>
                <td>Lived</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>7</td>
                <td><a href="#"><img src="./assets/images/resource/properties01.jpg" alt="" width="75px" /></a></td>
                <td>Notice of Default</td>
                <td>Lived</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>8</td>
                <td><a href="#"><img src="./assets/images/resource/properties02.jpg" alt="" width="75px" /></a></td>
                <td>Sold at auction</td>
                <td>Vacant</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
             <tr>
                <td>9</td>
                <td><a href="#"><img src="./assets/images/resource/properties03.jpg" alt="" width="75px" /></a></td>
                <td>Notice of Default</td>
                <td>Lived</td>
                <td><a href="#" class="table-icon edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="#" class="table-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
            </tr>
        </table> 
        </div>

            <div class="text-center margin-top-50">
                  <ul class="pagination">
                   <li><a href="#">&laquo;</a></li>
                   <li class="active"><a href="#">1</a></li>
                   <li class="disabled"><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#">5</a></li>
                   <li><a href="#">&raquo;</a></li>
                </ul>
              </div>

        </div>
        </section>

                                                                                                